<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Papers - Ammar Elzeftawy</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="header"></div>
    <header>
        <h1>My Papers</h1>
        <div class="paper">
            <img src="assets/images/LR_AI_In_Education.jpg" alt="Paper 1">
            <h2>AI in Education</h2>
            <a href="../../assets/files/LR_AI_In_Education.pdf" target="_blank">Read Paper</a>
        </div>
        <div class="paper">
            <img src="assets/images/LR_ROI_of_Data_Analytics.jpg" alt="Paper 2">
            <h2>ROI of Data Analytics</h2>
            <a href="../../assets/files/LR_ROI_of_Data_Analytics.pdf" target="_blank">Read Paper</a>
        </div>
        <div class="paper">
            <img src="assets/images/Native_VS_Cross_Platform.jpg" alt="Paper 2">
            <h2>Native VS Cross Platform Development</h2>
            <a href="../../assets/files/Native_VS_Cross_Platform.pdf" target="_blank">Read Paper</a>
        </div>
    </header>
    <script src="../../scripts/app.js"></script>
    <div id="footer"></div>
</body>
</html>
